@font-face {
  font-family: font;
  src: url(font/VeniteAdoremusStraight-Yzo6v.ttf);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("img/BG.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(34, 67, 27, 0.7);
  font-family: font, cursive;
  font-size: 1.6rem;
  font-weight: 100;
  /* text-shadow: 2px 2px #0b317d; */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(181, 194, 178, 0.7);
  z-index: -1;
}

h1 {
  background: linear-gradient(200deg, #ff2525, #fffb7d, #74fd4a);
  text-shadow: 2px 2px #0b317d;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h2 {
  background: linear-gradient(200deg, #ff2525, #fffb7d, #74fd4a);
  text-shadow: 2px 2px #0b317d;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

a {
  font-size: small;
}

.top {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.how-to-btn {
  border-radius: 100%;
  padding: 4px 7px;
  height: fit-content;
  background: linear-gradient(200deg, #ff2525, #fffb7d, #74fd4a);
  font-family: font;
  font-size: large;
}

.how-to {
  display: none;
  border-top: 7px solid #74fd4a;
  border-radius: 10px;
  padding: 7px;
  width: 50%;
  font-size: medium;
  background: linear-gradient(200deg, #ff2525, #fffb7d, #74fd4a);
}

.container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
}

.btn {
  position: absolute;
  height: 50%;
  width: 50%;
  border: 5px solid black;
  transition: background-color 0.2s ease;
  box-shadow: 0 0 15px black;
}

.red {
  background-color: red;
  border-radius: 0 200px 0 0;
  margin: 0 0 170px 170px;
}

.green {
  background-color: green;
  border-radius: 200px 0 0 0;
  margin: 0 170px 170px 0;
}

.yellow {
  background-color: yellow;
  border-radius: 0 0 0 200px;
  margin: 170px 170px 0 0;
}

.yellow-click {
  background-color: rgb(255, 255, 150) !important;
}

.blue {
  background-color: blue;
  border-radius: 0 0 200px 0;
  margin: 170px 0 0 170px;
}

.simon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 25, 25);
  border-radius: 100%;
  box-shadow: 0 0 50px black;
  height: 80px;
  width: 80px;
  position: absolute;
  top: 13%;
  right: 0;
  bottom: 0;
  left: 10%;
  margin: auto;
  font-size: medium;
  z-index: 10;
}

p.play-click {
  color: white;
  background: linear-gradient(200deg, #ff2525, #fffb7d, #74fd4a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.play-click {
  padding: 5px;
}

.game-over::before {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.clicked {
  color: green;
  box-shadow: none;
  background-color: grey;
}

footer {
  margin: 5%;
  font-size: small;
  background: linear-gradient(200deg, #ff2525, #fffb7d, #74fd4a);
  text-shadow: 2px 2px #0b317d;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Media queries */
@media (max-width: 768px) {
  #level-title {
    font-size: 1.8rem;
    text-align: center;
  }

  body::before {
    height: 100%;
  }

  .top {
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
  }

  .container {
    position: relative;
    width: 300px; /* Adjust based on your needs */
    height: 300px;
    right: 0.8rem;
  }

  .simon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
    border-radius: 100%;
    box-shadow: 0 0 50px black;
    height: 90px;
    width: 90px;
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 7%;
    margin: auto;
    font-size: medium;
    z-index: 10;
  }

  .how-to {
    width: 75%;
  }

  .btn {
    border: 3px solid black;
  }

  footer {
    font-size: small;
  }
}
